<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKrFQ92smnhgZIIIyKsixRdmA_St_Bt7w</string>
	<key>GCM_SENDER_ID</key>
	<string>765986511047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csonah.onahPortfolio</string>
	<key>PROJECT_ID</key>
	<string>onah-s-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>onah-s-portfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765986511047:ios:06dbeab4863edb7c5f46e2</string>
</dict>
</plist>